<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Pet Suite">
    <listeners>
        <listener class-name="api.utilities.ExtentReportManager"></listener>
    </listeners>

    <test name="Pet Test" thread-count="5">
        <classes>
            <class name="api.test.UserTests"/>
            <!--<class name="api.test.DataDrivenTest"/>-->
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->